doctype html
html
  head
    title= config.hostname
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    link(rel="stylesheet", href="/primer.css")
    style.
      body, button, input {
        font-family: "Courier New", Courier, monospace;
      }
      table { width: 100%; }
      th,td {
        text-align: center;
      }

  body
    .container
      h1= config.hostname
      
    block content 
